<div class="flex flex-col h-screen w-[400px] bg-secondary fixed">
    <div class="pt-[40px] pl-[40px]">
        <a class="text-[36px] text-primary font-futurabold" href="">TODO LIST</a>
    </div>
    <div class="flex flex-col gap-[40px] pt-[80px] pl-[40px]"> 
        <div class="space-y-[4px] relative hover:translate-y-[-5px] hover:translate-x-[5px] transition-transform duration-500 ease-in-out group">
            <button 
              (click)="GoHomePage()"
              class="text-[24px] text-primary font-futura block group-hover:text-extra transition-colors duration-500">
              Home
            </button>
            <hr class="border-t-[4px] border-extra w-[74px] group-hover:border-primary transition-colors duration-500">
          </div>
          <div class="space-y-[4px] relative hover:translate-y-[-5px] hover:translate-x-[5px] transition-transform duration-500 ease-in-out group">
            <button
              (click)="GoMyList()" 
              class="text-[24px] text-primary font-futura block group-hover:text-extra transition-colors duration-500">
              My List
            </button>
            <hr class="border-t-[4px] border-extra w-[88px] group-hover:border-primary transition-colors duration-500">
          </div>
          <div class="space-y-[4px] relative hover:translate-y-[-5px] hover:translate-x-[5px] transition-transform duration-500 ease-in-out group">
            <button 
              (click)="GoFavorite()"
              class="text-[24px] text-primary font-futura block group-hover:text-extra transition-colors duration-500">
              Favorite
            </button>
            <hr class="border-t-[4px] border-extra w-[102px] group-hover:border-primary transition-colors duration-500">
          </div>
    </div>
    <div class="flex justify-center overflow-hidden items-center pt-[350px]">
        <img class="w-full max-w-[350px] object-cover" src="assets/To Do List..png" alt="">
    </div>
</div>